<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragment/header.html :: fragment-header">
    <title>Tables - SB Admin</title>

</head>

<body class="sb-nav-fixed">

<div th:replace="/fragment/topnav.html :: fragment-topnav"></div>

<div id="layoutSidenav">

    <div id="layoutSidenav_nav">
        <div th:replace="/fragment/sidenav.html :: fragment-sidenav"></div>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Board</h1>

                <div class="card mb-4">
                    <div class="card-header">
                        <form action="/search" method="GET" id="searchForm" class="d-flex align-items-center">
                            <div class="row gx-2">
                                <div class="col-auto">
<!--                                    <form id="deleteForm" action="/board/delete" method="post">-->
<!--                                        <button type="submit" class="btn btn-danger btn-sm ms-auto"><i class="fas fa-trash-alt"></i> 삭제</button>-->
<!--                                        <input type="hidden" id="deleteIds" name="deleteIds" th:value="" />-->
<!--                                    </form>-->
                                </div>
                                <div class="col-auto">
                                    <select name="searchType" class="form-select form-select-sm" title="검색 유형 선택">
                                        <option value="boardTitle">제목</option>
                                        <option value="userSeq">작성자</option>
                                        <option value="boardContent">글 내용</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <input type="text" name="keyword" class="form-control form-control-sm" placeholder="내용을 입력해 주세요." title="내용 입력" />
                                </div>


                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                                </div>

                            </div>
                            <a class="btn btn-primary btn-sm ms-auto" href="board/register"><i class="fas fa-edit"></i> 글 작성</a>
                        </form>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회</th>
                                <th>좋아요</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board: ${Boards}">
                                <td th:text="${board.boardSeq}"></td>
                                <td>
                                    <span th:if="${board.getBoardTypeEnum().getIconClass() != null}">
                                        <i th:class="${board.getBoardTypeEnum().getIconClass()}"></i>
                                    </span>
                                    <span th:if="${board.getBoardTypeEnum().name() == T(com.example.boardproject.entity.BoardType).S.name()}">
                                        <span th:if="${board.userSeq == session.userSeq} or ${session.admin}">
                                            <a th:method="get" th:href="@{/board/{boardSeq}(boardSeq = ${board.boardSeq})}" th:text="' ' + ${board.boardTitle}"></a>
                                        </span>
                                        <span th:unless="${board.userSeq == session.userSeq} or ${session.admin}">
                                            <span>비밀글입니다.</span>
                                        </span>
                                    </span>

                                    <span th:unless="${board.getBoardTypeEnum().name() == T(com.example.boardproject.entity.BoardType).S.name()}">
                                        <a th:method="get" th:href="@{/board/{boardSeq}(boardSeq = ${board.boardSeq})}" th:text="' ' + ${board.boardTitle}"></a>
                                    </span>

                                    <span th:if="${board.commentCnt > 0}" th:text="' [' + ${board.commentCnt} + ']'"></span>

                                    <span th:if="${board.imageYn}"><i class="fa-regular fa-image"></i></span>

                                    <!-- 신규 등록 아이콘 표시 -->
                                    <span th:if="${T(java.time.LocalDateTime).now().minusHours(24).isBefore(board.boardCreatedDate)}">
                                        <i class="fa-sharp fa-n fa-xs fa-fade" style="color: #ff0000;"></i>
                                    </span>
                                </td>
                                <td th:text="${board.userId}"></td>
                                <td th:text="${#temporals.format(board.boardCreatedDate, 'yyyy-MM-dd HH:mm' )}"></td>
                                <td th:text="${board.viewCnt}"></td>
                                <td th:text="${board.likeCnt}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <ul class="pagination justify-content-center" th:if="${!isSearch}">
                        <li class="page-item">
                            <a th:href="@{/board(page=0)}" class="page-link">처음</a>
                        </li>

                        <!-- 이전 5개의 페이지로 이동하는 링크 -->
                        <li th:classappend="${currentPage < 5}?'disabled'" class="page-item">
                            <a th:href="@{/board(page=${(currentPage / 5 * 5) - 5})}" class="page-link">&laquo;</a>
                        </li>

                        <!-- 페이지 번호 표시 -->
                        <li th:each="pageNum : ${#numbers.sequence(currentPage / 5 * 5, (currentPage / 5 * 5) + 4)}" class="page-item">
                            <a th:if="${pageNum < totalPages}" th:href="@{/board(page=${pageNum})}"
                               th:text="${pageNum + 1}" class="page-link" th:classappend="${currentPage==pageNum}?'disabled'"></a>
                        </li>

                        <li th:classappend="${(currentPage / 5 * 5) + 5 > totalPages}?'disabled'" class="page-item">
                            <a th:href="@{/board(page=${(currentPage / 5 * 5) + 5})}" class="page-link">&raquo;</a>
                        </li>

                        <li class="page-item">
                            <a th:href="@{/board(page=${totalPages - 1})}" class="page-link">끝</a>
                        </li>
                    </ul>

                    <ul class="pagination justify-content-center" th:if="${isSearch}">
                        <li class="page-item">
                            <a th:href="@{/search(page=0, searchType=${searchType}, keyword=${keyword})}" class="page-link">처음</a>
                        </li>

                        <!-- 이전 5개의 페이지로 이동하는 링크 -->
                        <li th:classappend="${currentPage < 5}?'disabled'" class="page-item">
                            <a th:href="@{/search(page=${(currentPage / 5 * 5) - 5}, searchType=${searchType}, keyword=${keyword})}" class="page-link">&laquo;</a>
                        </li>

                        <!-- 페이지 번호 표시 -->
                        <li th:each="pageNum : ${#numbers.sequence(currentPage / 5 * 5, (currentPage / 5 * 5) + 4)}" class="page-item">
                            <a th:if="${pageNum < totalPages}" th:href="@{/search(page=${pageNum}, searchType=${searchType}, keyword=${keyword})}" th:text="${pageNum + 1}" class="page-link"></a>
                        </li>

                        <li th:classappend="${(currentPage / 5 * 5) + 5 > totalPages}?'disabled'" class="page-item">
                            <a th:href="@{/search(page=${(currentPage / 5 * 5) + 5}, searchType=${searchType}, keyword=${keyword})}" class="page-link">&raquo;</a>
                        </li>

                        <li class="page-item">
                            <a th:href="@{/search(page=${totalPages - 1}, searchType=${searchType}, keyword=${keyword})}" class="page-link">끝</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div th:replace="/fragment/footer.html :: fragment-footer"></div>
    </div>
</div>


<!--        추가해야 드롭다운 가능-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>

</body>

</html>
