<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragment/header.html :: fragment-header">
    <title>Register - SB Admin</title>
</head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form th:object="${registerDto}" th:method="post">
<!--                                            <div class="row mb-3">-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <div class="form-floating mb-3 mb-md-0">-->
<!--                                                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" />-->
<!--                                                        <label for="inputFirstName">First name</label>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <div class="form-floating">-->
<!--                                                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" />-->
<!--                                                        <label for="inputLastName">Last name</label>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="form-floating mb-3">-->
<!--                                                <input th:field="*{userId}" minlength="4" maxlength="20" class="form-control" id="inputEmail" type="text" placeholder="ID" />-->
<!--                                                <label for="inputEmail">ID</label>-->
<!--                                                <span th:if="${valid_userId}" th:text="${valid_userId}"></span>-->
<!--                                            </div>-->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input th:field="*{userId}" class="form-control" id="inputID" type="text" placeholder="ID"/>
                                                        <label for="inputID">ID</label>
                                                        <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input th:field="*{userPwd}" class="form-control" id="inputPassword" type="password" placeholder="Create a password" />
                                                        <label for="inputPassword">Password</label>
                                                        <p th:if="${#fields.hasErrors('userPwd')}" th:errors="*{userPwd}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><button class="btn btn-primary btn-block" >Create Account</button></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a th:href="@{login}">Have an account? Go to login</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <div th:replace="/fragment/footer.html :: fragment-footer"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
